# Ignore virtual environment
venv/
.env
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
